.page-node-type-blog .field--name-field-images img{
   width: 200px;
   height: 200px;
 }
.field__item.col-md-3{
  width: 33%;
  float:left;
}
.page-node-type-blog .field--title-h1 {
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: underline;
  font-weight: bold;
}
.region-layout-derecha{
  width: 30%;

  float: left;

  border-left: 1px solid black;

  padding-left: 10px;
}
.layout--twocol{
  float: left;
  width: 65%;
  padding-right: 50px;
}
#block-views-block-related-post-block-1 h3{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}
#block-footer .menu-item {

  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  float: left;

}
.mas_a_mostrar{
  display: none;
  padding-left: 3px;
  padding-right: 3px;
  float: left;
}
